.contact-grid-wrapper {
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;
}

.contact-grid-wrapper > .company-metadata-sidebar-wrapper > .logo img {
    width: 100%;
    margin-bottom: 20px;
}

.contact-grid-wrapper > .company-metadata-sidebar-wrapper > .company-details-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    text-align: right;
    font-size: 1.25em;
    width: 100%;
}

.contact-grid-wrapper > .company-metadata-sidebar-wrapper > .company-details-wrapper i {
    color: #cea135;
}

.contact-grid-wrapper > .company-metadata-sidebar-wrapper > .company-details-wrapper > .hours-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7px;
    width: 100%;
}

.contact-grid-wrapper > .company-metadata-sidebar-wrapper > .company-details-wrapper > .hours-wrapper > .hours {
    font-size: 1.1rem;
}

.contact-grid-wrapper > .contact-form > .centered-btn-wrapper {
    margin: 30px 0px;
}